/* Css Initial Setup */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 7rem;
    --mark-size: calc(var(--cell-size) * 0.6);
    --x-mark-color: hsl(210, 100%, 50%);
    --o-mark-color: hsl(5, 70%, 57%);
    --mark-hover-color: hsl(210, 11%, 79%);
    --toggle-size: 25px;
    --base-color: hsl(210, 56%, 93%);
    --font-color: hsl(210, 100%, 12%);
    --font-contrast: hsla(219, 37%, 30%, 0.6);
    --tile-base-color: hsl(210, 56%, 93%);
    --tile-base-active-color: linear-gradient(
        225deg,
        hsl(210, 56%, 93%),
        hsl(185, 100%, 98%)
    );
    --tile-shadow: -13px 13px 26px hsl(210, 24%, 85%),
        13px -13px 26px hsl(180, 100%, 98%);
    --border-color: hsla(219, 37%, 30%, 0.1);
    --border-radius: 0.5rem;
}

/* Typography: Perfect Third */
html {
    font-size: 100%;
} /*16px*/

body {
    background: var(--base-color);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--font-color);
    margin: 0;
}

p {
    margin-bottom: 1rem;
    color: var(--font-contrast);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

.inner {
    max-width: 768px;
    margin: 0 auto;
    padding: 0px 1rem;
}

/* Header & Footer Styles */
.hero {
    background: var(--base-color);
    padding: 3rem 0;
    text-align: center;
}
p.hero-description {
    color: var(--font-contrast);
}

.players-color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.players-color span {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.players-color span:before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background: var(--x-mark-color);
}
.players-color span.o-mark:before {
    background: var(--o-mark-color);
}
.players-color span.x-mark:before {
    background: var(--x-mark-color);
}

.footer {
    text-align: center;
    color: var(--font-contrast);
}

/* Board Styles */
.board {
    margin: 0 auto 70px auto;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.board-cell {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;
    margin: 1.5rem;
}

.board-cell:hover {
    border-radius: var(--border-radius);
    background: var(--tile-base-active-color);
    box-shadow: var(--tile-shadow);
}

/* If cell marked... */
.board-cell.x-mark,
.board-cell.o-mark {
    cursor: not-allowed;
}

.board-cell.x-mark::before,
.board-cell.x-mark::after {
    background-color: var(--x-mark-color);
}
.board-cell.o-mark::before {
    background-color: var(--o-mark-color);
}

/* Hover Effects */
.board.x-mark .board-cell:not(.x-mark):not(.o-mark):hover::before,
.board.x-mark .board-cell:not(.x-mark):not(.o-mark):hover::after,
.board.o-mark .board-cell:not(.x-mark):not(.o-mark):hover::before {
    background-color: var(--mark-hover-color);
}

/* Mark Styles */
.board-cell.x-mark::before,
.board-cell.x-mark::after,
.board.x-mark .board-cell:not(.x-mark):not(.o-mark):hover::before,
.board.x-mark .board-cell:not(.x-mark):not(.o-mark):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}
.board-cell.x-mark::before,
.board.x-mark .board-cell:not(.x-mark):not(.o-mark):hover::before {
    transform: rotate(45deg);
}
.board-cell.x-mark::after,
.board.x-mark .board-cell:not(.x-mark):not(.o-mark):hover::after {
    transform: rotate(-45deg);
}

.board-cell.o-mark::before,
.board-cell.o-mark::after,
.board.o-mark .board-cell:not(.x-mark):not(.o-mark):hover::before,
.board.o-mark .board-cell:not(.x-mark):not(.o-mark):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 20px 3px hsla(210, 100%, 12%, 0.1);
    -moz-box-shadow: 0px 0px 20px 3px hsla(210, 100%, 12%, 0.1);
    box-shadow: 0px 0px 20px 3px hsla(210, 100%, 12%, 0.1);
}
.board-cell.o-mark::before,
.board.o-mark .board-cell:not(.x-mark):not(.o-mark):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}
.board-cell.o-mark::after,
.board.o-mark .board-cell:not(.x-mark):not(.o-mark):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--tile-base-color);
}

/* Neumorphism Styles */
.tile {
    border-radius: var(--border-radius);
    background: var(--tile-base-color);
    box-shadow: var(--tile-shadow);
}

.tile-active {
    border-radius: var(--border-radius);
    background: var(--tile-base-active-color);
    box-shadow: var(--tile-shadow);
}

/* Game State Prompt */
.game-state {
    content: '';
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 0;
}

.game-state-prompt {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2.5rem;
    border: 1px solid #7aa7c7;
    border-radius: 0.25rem;
}

h1.game-current-state.x-mark {
    color: var(--x-mark-color);
}

h1.game-current-state.o-mark {
    color: var(--o-mark-color);
}

h1.game-current-state.draw {
    color: var(--font-color);
}

p.game-state-message {
    color: var(--font-contrast);
}

.button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button:hover,
.button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}
.game-state.show {
    display: flex;
}

.closed-reset {
    display: none;
    margin: 0 auto;
    text-align: center;
}

.closed-reset.show {
    display: block;
}
